body {
  background-color: /*#140011*/ #303030;
  color: #ffffff;
  font-family: 'Cinzel', serif;
  min-height: 100vh;
}

hr {
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
}

h1 {
  padding-top: 5% !important;
}

#box {
  color: #ffffff;
  text-align: center;
  font-size: 4vh;
  padding: 10%;
  font-family: 'Special Elite', cursive;
}

.quote-img {
  height: 50px;
  width: 50px;
  padding-bottom: 2%;
}

.buttons {
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  font-size: 3vh;
  font-family: 'Cinzel', serif;
}

#quotes {
  text-align: center;
  background-color: #303030;
}

#tweet {
  margin-top: 1%;
}

#myName {
  text-align: center;
  background-color: #303030;
  font-size: 3vh;
  padding-top: 40%;
  font-family: 'Homemade Apple', cursive;
}